#navbar {
    grid-area: navbar;
    position: fixed;
}

#navbar a {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

body {
    padding-top: none;
}

#welcome-section {
    height: 100vh;
    background-color: grey;
    text-align: center;
    padding: 350px 0;
    font-size: 200%;
}

.projects-grid {
    display: table;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
  }