#navbar {
    grid-area: navbar;
    position: fixed;
}

#navbar a {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

body {
    padding-top: none;
}

#welcome-section {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    text-align: center;
    padding: 350px 0;
    font-size: 200%;
}

.projects-grid {
    width: 100vh;
    height: 600px;
    position: relative;

}

.project-tile1 {
    position: absolute;
    top: 0vw;
    left: 0px;
}

.project-tile2 {
    position: absolute;
    top: 0px;
    left: 25vw;
}

.project-tile3 {
    position: absolute;
    top: 0px;
    left: 50vw;
}

.project-tile4 {
    position: absolute;
    top: 0px;
    left: 75vw;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
  }